body {
  font-family: 'Anonymous Pro', monospace;
  /*font-size:30px;*/
  display:flex;
  justify-content:center;
  align-items:center;
  /*background: #000;*/
}

div#alert {
  text-align: center;
  display: none;
}

img#animation-gif {
  width: 300px;
}

h1#title {
  text-shadow:
  -1px -1px 0 #000,
  1px -1px 0 #000,
  -1px 1px 0 #000,
  1px 1px 0 #000;

  color: #FFF;
}
